.table_dark {
    font-family: 'Poppins', sans-serif;
    width: 90%;
    color: #2c3e50;
    font-size: 16px;
    text-align: center;
    border-collapse: separate;
    border-spacing: 0;
    background: #fff;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
.table_dark th {
    color: #fff;
    background: #2980b9;
    padding: 16px 12px;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-bottom: none;
    transition: background-color 0.3s ease;
}
.table_dark td {
    color: #2c3e50;
    padding: 12px;
    font-size: 14px;
    border-bottom: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
    transition: background-color 0.3s ease;
}
.table_dark tr:last-child td {
    border-bottom: none;
}
.table_dark td:last-child {
    border-right: none;
}
.table_dark tr:hover td {
    background: #f9f9f9;
    transition: background-color 0.3s ease;
    cursor: pointer;
}
.table_dark tr:hover th {
    background: #4d5b6b;
    transition: background-color 0.3s ease;
}
.table_dark caption {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 0.5em;
}
